<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HpLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <HpLogger.Properties.Settings>
            <setting name="BEV1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>f +2.345 3.5</string>
                        <string>d +2.345 3.5</string>
                        <string>e +2.345 3.5</string>
                        <string>g +2.345 3.5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BEV2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>d -2.345 3.5</string>
                        <string>e -2.345 3.5</string>
                        <string>g +2.345 3.5</string>
                        <string>f -2.345 3.5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CCL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>d 0 12</string>
                        <string>e 0 12</string>
                        <string>f 0 12</string>
                        <string>g 0 12</string>
                        <string>h 0 12</string>
                        <string>i 0 12</string>
                        <string>j 0 12</string>
                    </ArrayOfString>
                </value>
            </setting>
        </HpLogger.Properties.Settings>
    </userSettings>
</configuration>
